#calendar {
	width: 60%;
	margin: 40px auto 0 auto;
}
.cxcLabel{
	color: yellow;
}

#calendari {
	width: 60%;
	margin: 40px auto 0 auto;
}

#cxcDatePicker{
		width: 60%;
		margin: 40px auto 0 auto;
	}