#backgroundMaps {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: none;
	z-index: 1;
}

#popupMaps {
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 500px;
	width: 700px;
	background: #FFFFFF;
	border: 10px solid #cecece;
	z-index: 2;
	padding: 12px;
	font-size: 13px;
}
#popupMaps h1 {
	text-align: left;
	color: #6FA5FD;
	font-size: 22px;
	font-weight: 700;
}

#popupMaps h4 {
	text-align: left;
	border-bottom: 2px solid #D3D3D3;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

#area{
	height: 254px;
	width: 332px;
	overflow: auto;
}

#btnXPopup{
	right: 6px;
	top: 6px;
	padding: 1px 4px;
}

#btnXPopup {
	position: absolute;
	display: block;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	background: #197fbf;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#btnXPopup:hover{
	background: #00539c;
}

#dataTeam{
	margin: 0;
	padding: 0;
	height: 196px;
	width: 330px;
	overflow: auto;
}

#poplist li{
	font-size: 14px;
	line-height: 24px;
}

#poplist .names{
	text-decoration: none;
}

#poplist li .names{
	color: #00539c;
}

#poplist li span{
	float: right;
}

#poplist a:hover{
	text-decoration: underline;
}